<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tercera edad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css">
</head>

<body>
    <!-- Navegador-->
    <nav class="navbar navbar-expand-lg navbar-light bg" id="navegador">
        <div id="logo">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/LogoSAAM.png' %}" height="50" width="150">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" style="color: #ffffff" onclick="location.href='formulario';" value="Registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #ffffff" value="Cerrar Sesion">Bienvenido Usuario1 Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Carrusel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-size" src="static/img/Aun-estamos-vivos-tercera-edad.jpg" alt="First slide">

                <div class="carousel-caption d-none d-md-block opacidad">
                    <hr>Gracias a esta pagina web con mi esposa encontramos un centro asistencial cercano y asi atender
                    su enfermedad
                    cardiovascular y de esa forma seguimos juntos.
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-size" src="static/img/abuelitos-computer.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block opacidad">
                    <hr>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-size" src="static/img/na_5aa6646386f18.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block opacidad">
                    <hr>Gracias a esta pagina web puedo seguir disfrutando de la vida junto a mis amigos
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Quienes somos -->
    <div class="fondo center-text">
        <div>
            <div style="color:white">
                <h3>Sistema asistencial para el adulto mayor</h3>
                <p> Buscamos que los adultos mayores vivan sin preocupaciones por sus enfermedades. </p>
                <p>Desde hoy, podras tener una vida tranquila y libre de preocupaciones. </p>
            </div>
            <div style="color:white">
                <h3>¿Que ofrece este proyecto?</h3>
                <p> Al registrarte, solicitaremos que expliques los problemas de salud que hayan sido detectados. y
                    gracias a
                    esta, generaremos una guia de apoyo y primeros auxilios para prevenir cualquier problema.</p>
                <p>Ademas ofrecemos la opcion de nosotros comunicarnos con al centro asistencial mas cercano en caso de
                    ser
                    necesario.
                </p>
            </div>
        </div>
    </div>

    <div>
        <br>
        <h3 class="center-text">Centros de emergencia</h3>
        <br>
        <div class="container">
            <img class="img-control" src="static/img/carabineros.png" alt="carabineros">
            <img class="img-control" src="static/img/cruz-blanca.png" alt="cruz-blanca">
            <img class="img-control" src="static/img/logo-samu-escudo.png" alt="samu">
            <img class="img-control" src="static/img/pdi.png" alt="pdi">
        </div>
        <br>
    </div>

    <div style="color:white" id="contacto">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br>
                <center>
                    <h2>Telefonos de emergencia</h2>
                </center>
                <br>
                <center>
                    <p>Ambulancia SAMU : 131 </p>
                    <p>Bomberos : 132 </p>
                    <p>Carabineros : 133 </p>
                    <p>Policia de investifaciones: 134</p>
                    <p>Fundacion : +56220186424 </p>
                </center>
                <center>
                    <input type="submit" class="btn btn-danger" onclick="location.href='email';"  value="Enviar alerta" />
                </center>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13328.68563261825!2d-70.67214931126706!3d-33.366590783136175!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1537388168146"
                    width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="text-center">
            <p class="mt-5 mb-3 text-muted">&copy; Servicios SAAM 2017-2018</p>
        </div>

    </div>

    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>

</body>

</html>