<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio Sesion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" type="text/css">
</head>

<body class="img-backgroundLogin">
    <nav class="navbar navbar-expand-lg navbar-light bg" id="navegador">
        <div id="logo">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/LogoSAAM.png' %}" height="50" width="150">
            </a>
        </div>
    </nav>
    <div class="contenido">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 forma-cont">
                    <div class="forma-top">
                        <div class="forma-top-izquierda">
                            <h3>Bienvenidos</h3>
                            <p>Ingrese usuario y contraseña:</p>
                        </div>
                        <div class="forma-top-derecha">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="forma-bottom">
                        <form role="form" action="iniciar" method="POST" id="log">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="usuario" placeholder="Ingrese usuario..." class="form-control"
                                    id="form-username">
                            </div>
                            <div class="form-group">
                                <input type="password" name="contrasenia" placeholder=" Ingrese contraseña..." class="form-control"
                                    id="form-password">
                            </div>
                            <button type="submit" class="boton" href="home.html">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static '/js/jquery.validate.js' %}"></script>
        <script src="{% static '/js/additional-methods.js' %}"></script>
        <script src="{% static '/js/bootstrap.js' %}"></script>
        <script src="{% static '/js/app.js' %}"></script>
        <script src="{% static '/js/login.js' %}"></script>
</body>

</html>