<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tercera edad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" type="text/css">
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
</head>

<body class="img-backgroundLogin" >
    <nav class="navbar navbar-expand-lg navbar-light bg" id="navegador">
        <div id="logo">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/LogoSAAM.png' %}" height="50" width="150">
            </a>
        </div>
    </nav>

    <div class="contenido">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 forma-cont">
                    <div class="forma-top">
                        <div class="forma-top-izquierda">
                            <h3>Regístrate en nuestro sitio.</h3>
                            <p>Ingresar datos personales:</p>
                        </div>
                        <div class="forma-top-derecha">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="forma-bottom">
                        <form role="form" action="persona" method="post" id="registro">
                            {% csrf_token %}
                            <input type="hidden" id="id" name="id" value="">
                            <div class="form-group">
                                <input type="text" name="run" id="run" class="form-control" placeholder="Ingrese Run"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese Nombre"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese Apellido"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="date" name="FechaNacimiento" id="fNac" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese Telefono"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese correo">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="contrasenia" id="contrasenia" placeholder="Ingrese Contraseña">
                            </div>
                            <div class="form-group">
                                <select name="prevision" id="" class="form-control">
                                    <option hidden>Seleccione prevision</option>
                                    <option value="1">Fonasa</option>
                                    <option value="2">Isapre</option>
                                    <option value="3">Particular</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="InfoMedica" id="" cols="10" rows="10" class="form-control" placeholder="Ingrese descripcion del paciente"></textarea>
                            </div>
                            <button type="submit" class="boton" value="Registrar">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>