<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tercera edad</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg" id="navegador">
        <div id="logo">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logoSAAM.png' %}" height="50" width="150">
            </a>
        </div>
    </nav>
    <div class="contenido">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 forma-cont">
                    <div class="forma-top">
                        <div class="forma-top-izquierda">
                            <h3>Regístrate en nuestro sitio.</h3>
                            <p>Ingresar datos personales:</p>
                        </div>
                        <div class="forma-top-derecha">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="forma-bottom">
                        <form id="formulario" action="user" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="correo" id="correo" placeholder="Enter email">
                            </div>
                            <input type="hidden" id="id" name="id" value="">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nombre</label>
                                <input type="text" class="form-control" name="username" id="nombre" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" name="contrasenia" id="contrasenia" placeholder="Contraseña">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/additional-methods.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/tutor.js' %}"></script>
</body>

</html>