body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

strong { 
	font-weight: 500; 
}
a, a:hover, a:focus {
	text-decoration: none;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}
h3 {
	font-size: 22px;
    font-weight: 300;
}

.contenido {
    padding: 100px 0 170px 0;
}

.login .mydescription {
    margin: 20px 0 10px 0;
}
.login .mydescription p { 
    opacity: 0.8; 
}
.forma-cont {
    margin-top: 35px;
}
.forma-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
    
}
.forma-top-izquierda { 
    float: left;
    width: 75%;
    padding-top: 25px;
    text-align: left;
}
.forma-top-izquierda p { 
    opacity: 0.8; 
}
.forma-top-derecha {
    float: right;
    width: 25%;
    padding-top: 25px;
    font-size: 66px;
    text-align: right;
    opacity: 0.3;
}
.forma-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 10px 10px; 
    -webkit-border-radius: 0 0 10px 10px; 
    border-radius: 0 0 10px 10px;
}
.forma-bottom .boton {
    width: 100%;
}
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
    height: 50px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    background: #fff;
    border: 2px solid #1AAE88;
}

button.boton {
    height: 50px;
    background: rgb(73, 203, 255);
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    
}
button.mybtn:hover, button.boton:active { 
    opacity: 0.6; 
    color: #fff; 
}
button.boton:focus { 
    opacity: 0.6;  
    color: #fff; 
    background: #de615e; 
}

textarea{
    resize:vertical;
    max-height: 200px;
    min-height: 100px;
}

.img-backgroundLogin {
    background: url("/static/img/Abuelos.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}